
<div class="row">
  <%= form_with(model: @accidentContract) do |f| %>
  <div class="row">

    <div class="input-field col s12">
    <%= select(:accident_contract, :age, (18..99), include_blank: "Edad", required: true) %>
      <%= f.label :age, "Cuantos años tienes?" %>
    </div>

    <div class="input-field col s12">
      <%= select(:accident_contract, :contract_type, [['Para mi', "Individual"], ['Para mi y mi familia', "Familiar"]], include_blank: "Escoge una opción") %>
      <%= f.label :contract_type, "Para quien es el seguro?" %>
    </div>

    <div class="col s12 center-align">
      <button class="btn waves-light btn-brand-primary margin-top-50" type="submit" name="action">Cotizar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <% end %>
</div>
