<%= form_with(model: @health_request) do |f| %>
<%= f.hidden_field :gender, value: health_request.gender %>
<%= f.hidden_field :age, value: health_request.age %>
<%= f.hidden_field :global, value: true %>
<%= hidden_field_tag 'health_contract_id', health_contracts[0].id %>
<% hc = health_contracts.first %>
<% coverages = hc.coverages %>

<!-- Header with price -->

<div class="request-wrapper basic">
  <div class="price">
    <h3>$24/mes</h3>
    <p class="text-center">Seguro de salud</p>
  </div>
  <div class="basic-coverages">
    <h4>Coberturas en Centro America:</h4>
    <div class="row">
      <% hc.coverages.each do |c| %>
        <% if c.important %>
          <div class="col-xs-12 col-sm-6">
            <div class="coverage-white-box">
              <p>$<%= c.amount %> <%= c.coverage_type %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<!-- <div class="request-wrapper global">
  <%= f.check_box :global, {class: "filled-in checkbox-brand-color", id: "global"}, "1", "0"%>
  <%= label_tag(:global, "Incluir cobertura global ($12/mes)") %>
</div> -->

<div class="request-wrapper dental">
  <div class="dental-coverages">
    <%= f.check_box :dental, {class: "filled-in checkbox-brand-color", id: "dental"}, "1", "0"%>
    <%= label_tag(:dental, "Plan dental ($6/mes)") %>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="coverage-primary-box">
         <% dental = coverages.where(coverage_type: "en cobertura dental anual") %>
          <p>$<%= dental[0].amount %> en cobertura dental</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="coverage-primary-box">
        <% ortodoncia = coverages.where(coverage_type: "en cobertura de ortodoncia anual") %>
          <p>$<%= ortodoncia[0].amount %> en cobertura de ortodoncia</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="request-wrapper life">
  <div class="life-coverages">
    <%= f.check_box :life, {class: "filled-in checkbox-brand-color", id: "life"}, "1", "0"%>
    <%= label_tag(:life, "Seguro de vida ($4/mes)") %>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="coverage-primary-box">
        <% vida = coverages.where(coverage_type: "Seguro de vida") %>
          <p>$<%= vida[0].amount %> en coberturas</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="request-wrapper life">
  <button class="btn waves-light btn-brand-primary" type="submit" name="action">Aplicar</button>
</div>

<% end %>

<!-- <div class="fixed-action-btn direction-top active" style="bottom: 45px; right: 24px;">
  <a class="avatar-75" id="menu"><%= image_tag('Loguito-Zegurito.png') %></a>
</div> -->
