<%= form_with(model: @health_request) do |f| %>
<%= f.hidden_field :gender, value: health_request.gender %>
<%= f.hidden_field :age, value: health_request.age %>
<%= f.hidden_field :global, value: true %>
<%= hidden_field_tag 'health_contract_id', health_contracts[0].id %>

<!-- Header with price -->

<div class="request-wrapper basic">
  <div class="price">
    <h3>$24/mes</h3>
    <p class="text-center">Seguro de salud</p>
  </div>
  <div class="basic-coverages">
    <h4>Coberturas en Centro America:</h4>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$80 en Reembolsos</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$100 en Deducibles</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$1,500 en Ambulancia Terrestre</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$10,000 en Ambulancia Ae패rea</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$75 de Cuarto y Alimentacio패n</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$1,500 en Repatriacio패n</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$200,000 de Maximo Vitalicio</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$3,000 en Maternidad</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="coverage-white-box">
          <p>$100 en Pediatri패a</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="request-wrapper global">
  <%= f.check_box :global, {class: "filled-in checkbox-brand-color", id: "global"}, "1", "0"%>
  <%= label_tag(:global, "Incluir cobertura global ($12/mes)") %>
</div> -->

<div class="request-wrapper dental">
  <div class="dental-coverages">
    <%= f.check_box :dental, {class: "filled-in checkbox-brand-color", id: "dental"}, "1", "0"%>
    <%= label_tag(:dental, "Plan dental ($6/mes)") %>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="coverage-primary-box">
          <p>$80 en cobertura dental</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="coverage-primary-box">
          <p>$100 en cobertura de ortodoncia</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="request-wrapper life">
  <div class="life-coverages">
    <%= f.check_box :life, {class: "filled-in checkbox-brand-color", id: "life"}, "1", "0"%>
    <%= label_tag(:life, "Seguro de vida ($4/mes)") %>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="coverage-primary-box">
          <p>$200,000 en coberturas</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="request-wrapper life">
  <button class="btn waves-light btn-brand-primary" type="submit" name="action">Aplicar</button>
</div>

<% end %>

<!-- <div class="fixed-action-btn direction-top active" style="bottom: 45px; right: 24px;">
  <a class="avatar-75" id="menu"><%= image_tag('Loguito-Zegurito.png') %></a>
</div> -->
