<div class="homepage-wrapper">
  <div class="homepage-text">
    <h1>Compara y escoge seguros en minutos!</h1>
    <h3>Don Toño, nuestro experto, te ayudará en el proceso</h3>
  </div>
  <div class="homepage-button">
    <select class="form-control homepage-dropdown">
      <option>Que tipo de seguro buscas?</option>
      <option>Seguro de Auto</option>
    </select>
    <%= link_to "COMENZAR", new_auto_path, class: "btn-brand-white"  %>
  </div>
    <%= image_tag("tonohomepage.png", height: '200'); %>
</div>
<div class="homepage-wrapper bg-color-white">
  <div class="how-it-works">
    <div class="step">
      <h3>1- Cotiza</h3>
      <%= image_tag("icon-lock.png", height: '50') %>
      <p>Contesta unas cuantas preguntas para aprender más sobre ti y tu auto</p>
    </div>
    <div class="step">
      <h3>2- Compara</h3>
      <%= image_tag("icon-tools.png", height: '50') %>
      <p>Busca y compara los mejores seguros adaptados para tí</p>
    </div>
      <div class="step">
      <h3>3- Selecciona</h3>
      <%= image_tag("icon-phone.png", height: '50') %>
      <p>Selecciona el producto que te parezca mejor a traves de nuestr página!</p>
    </div>
  </div>
</div>
