
<h3>Tus Resultados:</h3>
<div class="fixed-action-btn direction-top active" style="bottom: 45px; right: 24px;">
  <a class="avatar-75" id="menu"><%= image_tag("tono.jpeg") %></a>
</div>
  <div class="tap-target grey lighten-5" data-activates="menu">
    <div class="tap-target-content">
      <h4>Muerte Accidental y Desmembramiento</h4>
      <p>Esta cobertura lo protege contra dificultades financieras debidas a un accidente que causa la muerte, desmembramiento, parálisis, o pérdida de la vista, del habla o de audición.</p>
      <p>Necesitas mas Ayuda?</p>
    </div>
  </div>

<!-- logic for classyfying contracts -->
<% max_coverage.each {|k,v| highest_coverage += v} %>
<% accidents.each do |accident| %>
<% total_coverage = 0 %>
<% accident.coverages.each {|z| total_coverage += z.amount} %>
<% if ((total_coverage.to_f / highest_coverage.to_f) > 0.7)  %>
<% image_color = "green" %>
<% classification = "Máxima" %>
<% elsif ((total_coverage.to_f / highest_coverage.to_f) > 0.3) %>
<% image_color = "yellow" %>
<% classification = "Mediana" %>
<% else %>
<% image_color = "orange" %>
<% classification = "Baja" %>
<% end %>

<!-- cards -->
<div class="row">
  <!-- card -->
  <div class="col s12 m12">
    <%= form_with(model: @accidentContract) do |f| %>
    <%= f.hidden_field :contract_type, value: accidentContract.contract_type %>
    <%= f.hidden_field :age, value: accidentContract.age %>
    <%= hidden_field_tag 'accident_id', accident.id %>
    <div class="card">
      <!-- card header -->
      <div class="card-image">
        <%= image_tag("#{image_color}.png") %>
        <div class="card-title card-title-accident">
          <!-- Tipo de Cobertura Header -->
          <div>
            <p><strong><%= classification %></strong></p>
            <p><strong>Cobertura</strong></p>
          </div>
          <!-- Prima Mensula Header -->
          <div class="card-accident-header">
            <p class="card-price"><%= number_to_currency(accident.plans[0].amount_cents / 100, precision: 0) %></p>
            <p>Prima Mensual</p>
          </div>
        </div>
      </div>
      <!-- card content -->
      <div class="card-content">
        <p>Coberturas:</p>
        <% accident.coverages.where(important: true). each do |coverage| %>
        <!-- Element Showed -->
        <div class="progress" onclick="$('.tap-target').tapTarget('open')">
          <% coverage_percentage = (coverage.amount.to_f / max_coverage[coverage.coverage_type].to_f) * 100 %>
          <div class="determinate" style="width: <%= coverage_percentage %>%"></div>
          <p class="progress-text"><%= number_to_currency(coverage.amount, precision: 0) %> - <%= coverage.coverage_type %></p>
        </div>
        <% end %>
      </div>
      <div class="card-action">
        <button class="btn waves-light btn-brand-primary" type="submit" name="action">Aplicar</button>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="modal-trigger" href="#accidentmodal<%= accident.id %>">Detalles</a>
      </div>
      <%= render 'shared/accident-details-modal', accident: accident, classification: classification %>
    </div>
    <% end %>
  </div>
</div>
<% end %>





